<a href="https://colab.research.google.com/github/eunseo-cho/class2021Spring/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#수업자료

In [ ]:
s= 'abcdef'
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:])

a f f a
bc bcdef abc abcdef

#필기+여러가지 시도

In [19]:
s='12345'
print(s[0],s[-2],s[1]+s[3])
print(s[:],s[:-1],s[1:]) 
print(s[:-7])

print(type(s[:-7]))

type(s[1]+s[3])


#s[:] 처음부터 끝까지 ; s[:-1] 처음부터 마지막에서 두번째까지 ; s[1:] 두번째부터 마지막까지 
#s[a:b] a부터 b-1번째까지 
#s는 string, 결과도 string
#string에서, 숫자 지정할 시, index range를 벗어나면 오류 // 대신 s[:-7] 처럼 범위는 range를 벗어나도 가능 (빈 string)
#서로 합쳐도 결과는 string

1 4 24
12345 1234 2345

<class 'str'>

str

#수업자료

In [ ]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

#필기+여러가지 시도

In [10]:
n=['1',2,3]
print(n[0], n[2]) 
print(n[:],n[-1:-4],n[1:9]+n[:]) 


# list에서, index range를 벗어나면 오류
# list 서로 합치면 순서 변함없이 그대로 들어감, 똑같은 것도 그대로
# n[-1:-4] ; 마지막부터 첫번째까지인 것 같은데, 결과는 [] 빈 list. 
# list에서 인덱스로 프린트를 하면, str은 ''없이 출력

1 3
['1', 2, 3] [] [2, 3, '1', 2, 3]

#수업자료

In [20]:
len(s)

5

length를 가리킴 = 길이

In [24]:
len(n) #len(list/str/tuple)
k=(1,2,3)
len(k)
m=123
len(m) #int/float은 len의 함수에 들어갈 수 없음

TypeError: ignored

In [ ]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

In [27]:
#print를 누르지 않고 그대로 출력 : str
#s[4:]*10 = str을 10번 반복

n[0]+n[-1]*10
#연산할 시, int인 경우는 사칙연산 그냥 하면 됨
#str+str / int+int 만 가능

TypeError: ignored

In [68]:
s.upper() #upper 함수는 그 자체에 저장되지 않음

'abc'

In [61]:
s = 'this is a house built  this year.' 	
s

'this is a house built  this year.'

In [ ]:
result = s.find('house') 	    # index of first instance of string t inside s (-1 if not found)
result

11

In [43]:
print(s.find(''),s.find(' '),s.find('  ')) 


#'' 공백없는 따옴표의 인덱스 값은 항상 0, ' ' 한번 띄어쓰기 있는 따옴표의 인덱스 값은 처음 등장하는 띄어쓰기의 인덱스 값
#'  ' 두번 띄어쓰기 있는 곳 찾기

0 4 21

-1이 나오면 없는 것임.

In [ ]:
result = s.find('this') # index of last instance of string t inside s (-1 if not found)
result

1

In [ ]:
result = s.rindex('this')        # like s.find(t) except it raises ValueError if not found
result

#this의 시작인 't'의 인덱스값이 나온다.

23

In [66]:
s=' abc   '

s = s.strip()      	            # a copy of s without leading or trailing whitespace
s

#앞뒤에 있는 모든 공백을 삭제한다. 결과는 그대로 str
#strip은 str에게 
#strip 함수는 그 값에 저장

'abc'

In [55]:
s= ' dsdf sfsd'
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens

#결과가 list이다. 
#맨앞 공백이 있다면 ''한번 도출. 중간에 있는 띄어쓰기는 기준으로 작용함.

['', 'dsdf', 'sfsd']

In [59]:
''.join(tokens) #그냥 다 붙여버림

'dsdfsfsd'

In [60]:
' '.join(tokens) #원상복귀#띄어쓰기 하나차이가 이렇게나 크다니# join 함수를 실행하더라도 변수에 그 값이 저장되지는 않는듯

' dsdf sfsd'

In [52]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s

' dsdf sfsd'

In [65]:
s.replace('this', 'that')   # replace instances of t with u inside s
s
#replace 함수는 그 값이 저장되는 것 같다.

['', 'dsdf', 'sfsd']