<a href="https://colab.research.google.com/github/eunseo-cho/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#variable_type

#int & float

In [ ]:
a=1 ; print (type (a))

<class 'int'>

In [ ]:
a=1; a=float(a) ; print(type(a))

<class 'float'>

In [ ]:
#integer를 float으로 변경가능

In [5]:
a=1.2 ; a = int(a) ; print (type(a))

k=1.6
int(k)

#float에서 int로 바꿀 경우, 소수점 아래는 모두 버림 (반올림 아님)

<class 'int'>

1

In [ ]:
a= '123'; print(type(a)) ; print (a[1])

#print를 할 경우, str은 ''없이

<class 'str'>
2

#list

In [ ]:
a= '123' ; a= list (a) ; print(type(a)); print (a) ; print (a[2])

#str에서 list로 변경할 경우, list안 원소들은 str

<class 'list'>
['1', '2', '3']
3

In [15]:
a='123'


a=list(a)
a[0]=1
a


#str은 인덱스로 변경할 수 없음 
#list는 가능함. 근데 list(a)라고만 해서는 a가 list로 바뀌지는 않음.위의 식처럼 a에 list(a)를 다시한번 assign 해주어야 함.

[1, '2', '3']

In [30]:
a= [1, '2', [3, '4'],(1,2)] ; print (type (a) ); print (a[0]) ; print(a[1]) ; print (a[2])

#list안에 있는 list, str, int, float, tuple

<class 'list'>
1
2
[3, '4']

#tuple

In [29]:
a = (1,'2', [3, '4'],(1,2)); print(type(a)); print(a[0]); print(a[1]); print(a[2])
a=(1)
type(a)


#tuple안에 있는 list, str, int, tuple
#tuple은 원소변경이 불가능하다는 특징이 있음. 
#list는 원소변경이 가능함
#(1) 이렇게 하나는 tuple이 아님.

<class 'tuple'>
1
2
[3, '4']

int

#dictionary

In [28]:
a =	{"a": "apple", (1,2): "orange", (4): (1,2), 1.2:2}
print(type(a))
print(a["a"])

a


#dictionary는 a:b 에서 a 값은 변경할 수 없음
#dictionary에서 b값을 바꿀 수 있음. 
#a값에는 str, int, float, tuple (list는 안됨) // b값에는 str, int, float, list, tuple 가능
#dictionary에서 print는 b 값을 출력
#""가 ''로 출력
#순서가 바뀜.... tuple >> int/float >> str

<class 'dict'>
apple

{(1, 2): 'orange', 1.2: 2, 4: (1, 2), 'a': 'apple'}

In [ ]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a

#list는 tuple을 원소로 가질 수 있음.

<class 'list'>

[(1, 2, 3), (3, 8, 0)]